.empty-tile {
  z-index: 100;

  button {
    position: absolute;
    font-size: 0;
    border:none;
    background: none;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background: rgba(50, 50, 50, .8);
    border-radius: 50%;

    &:after {
      position: absolute;
      left: 6px;
      top: -12px;
      font-size: 40px;
      color: white;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      content: ">";
    }

    &.up {
      bottom: -20px;
      left: 50%;
      transform:  translateX(-50%) rotateZ(-90deg);
    }

    &.down {
      top: -20px;
      left: 50%;
      transform: translateX(-50%) rotateZ(90deg);
    }

    &.right {
      left: -20px;
      top: 50%;
      transform: translateY(-50%) ;
    }

    &.left {
      right: -20px;
      top: 50%;
      transform: translateY(-50%)  rotateZ(180deg);
    }
  }

}